.footer {
    text-align: center;
    background-color: $white-dark;

    .development-by {
        display: block;
    }

    .social-icon {
        text-align: center;
        padding: 10px;
    }
}
