.grid {
    td, th {

        vertical-align: middle !important;
        padding: 0 10px !important;
    }

    th {
        line-height: 2.5;
    }

    td {
        line-height: 3.3;
    }

    thead tr {
        background-color: $blue-light;
        border-left: solid 1px $grey-light;
        border-right: solid 1px $grey-light;
        border-top: solid 1px $grey-light;

        th {
            border-width: 0;
        }
    }

    tbody tr {
        background-color: $white;
        border: solid 1px $grey-light;
    }

    tbody tr:hover {
        border: solid 1.5px $blue;
        background-color: $blue-light;
    }
}
