.pagination {
    display: inline-block;
    margin-top: 10px;

    div {
        font-size: 13px;
        color: #365c7f;
        border: 1px solid $grey-light;
        background-color: #fff;
        float:left;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

    div:hover {
        background-color: #fffbea;
    }

    div:first-child {
        background-image: url("../imgs/left-chevron.png");
        border-radius: 3px 0px 0px 3px
    }

    div:last-child {
        background-image: url("../imgs/right-chevron.png");
        border-radius: 0px 3px 3px 0px;
    }

    div:first-child,
    div:last-child {
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: center;
    }

    .selected-page {
        border: solid 1px $blue;
        background-color: $blue-light;
    }
}
