.body {
    margin: 15px auto;
    width: 60%;
    display: table;

    .content {
        width: 95%;
        margin: 0 auto;
    }

    .button {
        font-weight: bold;
    }

    .button-normal {
        padding: 20px 35px;
    }
}
