.checkbox {
    background-color: $white;
    border: 1px solid #c8d3de;
    border-radius: 3px;
    float: left;
    padding: 1px;

    input[type=checkbox]:checked ~ div label {
        background: url("../imgs/ok.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    label {
        height: 17px;
        width: 17px;
        display: block;
    }

    label.checked {
        background: url("../imgs/ok.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
